.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    position: fixed;
    height: 10vh;
    overflow: hidden;
    padding: 3px 3px;
    z-index: 987987987;
}

.headerEfect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(0deg);
    background: linear-gradient(to left,
            orangered 50%,
            purple 50%);
    width: 100%;
    height: 75%;
    filter: blur(17px);
    animation: headerEfect 5s linear infinite;
}

@keyframes headerEfect {
    to {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }

    50% {
        height: 150%;
    }
}

header {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
}

h1 {
    font-size: 60px;
    color: transparent;
    background: linear-gradient(to left,
            orangered,
            purple);
    background-clip: text;
    font-weight: 100;
    animation: h1Effect 20s linear infinite;
    text-transform: capitalize;
    cursor: pointer;
}

@keyframes h1Effect {
    to {
        background-position-x: 150vh;
    }
}

.money {
    position: absolute;
    right: 1%;
    z-index: 789;
}

.money,
.header>header>h3 {
    font-size: 35px;
    font-weight: 100;
    text-shadow: 4px 4px 4px purple;
    color: orangered;
    font-style: italic;
    letter-spacing: .17rem;
    transition: all 1s;
}

.header>header>h3:nth-last-of-type(2) {
    opacity: 0;
    font-size: 55px;
}

.headerButtons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.headerButtons>button {
    position: relative;
    padding: 8px 12px;
    background: linear-gradient(to bottom,
            #ff4400e1,
            #800080e4);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.headerButtons>button:nth-of-type(1)>p {
    position: absolute;
    transform: translate(-115%, -90%);
    background: linear-gradient(to top,
            #ff440098,
            #8000809e);
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 20px;
}

.headerButtons>button:nth-last-of-type(1)>input {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, orangered, black);
    border-radius: 30px;
}

::-webkit-scrollbar-track {
    background: black;
}

.headerButtons >button > svg {
    filter: drop-shadow(0 0 1px tan) drop-shadow(0 0 1px black) drop-shadow(0 0 1px tan);
}